@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.magma_container {
	width: calc(100% - 100px);
	height: calc(100dvh - 200px);
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 40px;
	flex-direction: column;
	border-radius: 20px;
	font-family: 'Inter', sans-serif;
}

.magma_container .logo {
	margin-bottom: 32px;
}

.magma_container .connect {
	margin-bottom: 32px;
}

.magma_container .shortcode {
	width: 418px;
	margin-top: 60px;
}

.magma_container .connect,
.magma_container .widgets {
	display: flex;
	align-items: flex-end;
}

.magma_container .connect label,
.magma_container .widgets label {
	display: flex;
	flex-direction: column;
}

.magma_container .connect label span,
.magma_container .widgets label span {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 12px;
}

.magma_container .connect label input[type='text'],
.magma_container .connect label select,
.magma_container .widgets label input[type='text'],
.magma_container .widgets label select {
	height: 40px;
	border-radius: 4px;
	border: 1px solid rgb(226, 232, 240);
	padding: 0 12px;
	width: 300px;
}

.magma_container .connect p.submit,
.magma_container .widgets p.submit {
	margin: 0;
	padding: 0;
}

.magma_container .connect button[type='submit'],
.magma_container .widgets button[type='submit'] {
	height: 40px;
	margin-left: 16px;
	background: rgb(68, 76, 231);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 9999px;
	font-weight: 700;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	width: 100px;
}

.magma_container .error-connect {
	font-weight: 700;
	color: red;
}

.magma_container .shortcode > div {
	margin-bottom: 16px;
}
